body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}
.container {
  max-width: 90%;
  min-width: 500px;
  border: solid 2px white;
  margin: 0 auto;
}
.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  background-color: rgb(187, 235, 106);
  color: black;
  padding-top: 15px;
}
.header:hover {
  background-color: gold;
}
.head h2,
h4,
p {
  margin: 0px auto;
  font-weight: bolder;
}
.fancy-text {
  text-shadow: 2px 2px green;
}
.paragraph {
  color: red;
  font-style: italic;
}
.italic {
  font-style: italic;
}

.profile-pic {
  height: 150px;
  width: 160px;
  border-radius: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}
.profile-pic:hover {
  transform: rotateY(180deg);
  border: 2px 2px red;
  cursor: pointer;
  border-radius: 5px;
}
.main {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.heading {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.heading:hover {
  background-color: brown;
  cursor: pointer;
}
.toggle {
  color: white;
}
.pair {
  margin: 1px 3px;
}
.value {
  color: blue;
}

/* Interractivity */
.skill-card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.skill-list {
  font-weight: bold;
  color: rebeccapurple;
}
.skill-list:hover {
  color: white;
  cursor: pointer;
  background: #007bff;
  padding: 5px 0;
  height: 20px;
  width: 0;
  animation: grow 1s forwards;
}
li {
  font-weight: bold;
}
li:hover {
  cursor: pointer;
}
/* motion */
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries for responsiveness */
@media (min-width: 425px) {
  .container {
    background-color: grey;
    font-size: smaller;
  }
  .header {
    justify-content: flex-start;
  }
  .head {
    float: left;
  }
  .profile-pic {
    float: right;
    height: 100px;
    width: 100px;
  }
  .heading {
    font-size: smaller;
  }
  .fancy-text {
    text-shadow: none;
  }
}

@media (min-width: 768px) {
  .container {
    background-color: black;
    font-size: medium;
    color: white;
  }
  .header {
    justify-content: center;
  }
  .profile-pic {
    height: 150px;
    width: 160px;
  }
  .heading {
    font-size: medium;
  }
}

@media (min-width: 1024px) {
  .container {
    background-color: rosybrown;
    font-size: larger;
  }
  .header {
    justify-self: center;
  }
  .heading {
    font-size: larger;
  }
}
